.settings-title {
    margin-left: 30px;
    font-weight: normal;
}

#logo {
    width: 80px;
    height: 80px;
}

.container {
    border: 4px solid grey ;
    text-align: center;
    margin-left: 30px;
    width: 300px;
    height: 550px;
    border-radius: 20px;
    text-align: center;
    display: inline-block;
}

.btn-submit {
    box-sizing: border-box;	
    height: 35px;	
    width: 145px;	
    border-radius: 4px;
    background-color: purple !important;
}